.header {
  // height: 150px;
}

a:hover {
  cursor: pointer;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  color: var(--color-text);
  height: 100px;
  width: 80%;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  a {
    font-size: 18px;
    font-weight: bold;
  }
}

.main {
  display: grid;
  grid-template-columns: auto 15vw;
  color: var(--color-text);
}

.article-header {
  padding: 2vh 2vw 6vh 2vw;

  h1 {
    display: inline;
    vertical-align: top;
    font-size: 5em;
  }
}

.article-metadata {
  height: 100px;
}

.sidebar {
  text-align: center;

  h1 {
    font-size: 1.8em;
    margin: auto;
    padding: 5px 0 10px 0;
    width: 80%;
    border-radius: 0.75em;
  }
  
  h2 {
    font-size: 1.2em;
    padding: 10px 5px 5px 20px;
    margin: 0;
  }

  .sidebar-section {
    margin: 20px auto 0 auto;
    width: 80%;
    border-radius: 0.75em;
    text-align: left;
    height: 10vh;
  }

}

.avatar {
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  content: none;
  margin: 35px auto 50px auto;
}

.footer {
  // height: 150px;
}
