@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

html,
body,
#root {
  height: 100%;
  clear: both;
  background: #001131;
  // background: linear-gradient(40deg, rgb(108, 0, 162), rgb(0, 17, 82)); 
}

:root {
  --color-border: #ffffee;
  --color-text: #ffffee;
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

body {
  // width: 60% !important;
  // border-left: 1px solid white;
  // border-right: 1px solid white;
  // margin: auto !important;
}

#root {
  // display: grid;
  // grid-template-rows: 120px auto 150px;
  user-select: none; // chrome and Opera
  -moz-user-select: none; // Firefox
  -webkit-text-select: none; // IOS Safari
  -webkit-user-select: none; // Safari
}

.border {
  border: 1px solid var(--color-border);
}

.border-top {
  border-top: 1px solid var(--color-border);
}

.border-bottom {
  border-bottom: 1px solid var(--color-border);
}

.border-left {
  border-left: 1px solid var(--color-border);
}

.border-right {
  border-right: 1px solid var(--color-border);
}
